:root {
  --primere-text: #757575;
  --title: #212121;
  --secondary: #ffffff;
  --background: #2f303a;
  --background-team: #f5f4fa;
  --accent: #2196f3;
  --accent-btn: #188ce8;
  --address-contact: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --border-secondary-color: #eeeeee;
  --background-hero: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: #757575;
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .form {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .form {
    margin-left: 93px;
  }
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 1199px) {
  .form-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.form-footer__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}
.form-footer__input::-webkit-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-footer__input::-moz-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-footer__input:-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-footer__input::-ms-input-placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
}
.form-footer__input::placeholder {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media screen and (max-width: 1199px) {
  .form-footer__input {
    width: 450px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .form-footer__input {
    min-width: 358px;
    margin-right: 12px;
  }
}

.form-footer__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  color: var(--secondary);
  background: var(--accent-btn);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.form-footer__icon {
  margin-left: 10px;
  fill: currentColor;
}

.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  color: var(--accent);
}
@media screen and (min-width: 768px) {
  .logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__header--accent {
  color: var(--title);
}

.backdrop {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--transition-timing);
  transition: opacity 250ms var(--transition-timing);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  background: var(--secondary);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms var(--transition-timing);
  transition: -webkit-transform 250ms var(--transition-timing);
  transition: transform 250ms var(--transition-timing);
  transition: transform 250ms var(--transition-timing), -webkit-transform 250ms var(--transition-timing);
}
@media screen and (min-width: 768px) {
  .modal {
    min-width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.btn-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--secondary);
  cursor: pointer;
}

.form-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

.label-groop {
  text-align: start;
  margin-bottom: 20px;
}

.form-modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title);
}

.form-modal__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-modal__label:not(:last-child) {
  margin-bottom: 10px;
}

.form-modal__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin: 0;
  border-radius: 4px;
  padding: 11px 12px;
  padding-left: 42px;
  outline: none;
  -webkit-transition: border-color 250ms var(--transition-timing);
  transition: border-color 250ms var(--transition-timing);
}
.form-modal__input:focus {
  border-color: var(--accent-btn);
}

.form-modal__comment {
  outline: none;
  -webkit-transition: border-color 250ms var(--transition-timing);
  transition: border-color 250ms var(--transition-timing);
}
.form-modal__comment:focus {
  border-color: var(--accent-btn);
}

.icon-modal {
  position: absolute;
  top: 70%;
  left: 12px;
  right: 12px;
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  -webkit-transition: fill 250ms var(--transition-timing);
  transition: fill 250ms var(--transition-timing);
}
.form-modal__input:focus + .icon-modal {
  fill: var(--accent-btn);
}

.form-modal__span {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primere-text);
}

.form-modal__comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  height: 120px;
  -webkit-transition: outline-color 250ms var(--transition-timing);
  transition: outline-color 250ms var(--transition-timing);
}
.form-modal__comment::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__comment::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__comment:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__comment::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-modal__comment::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.btn__form {
  margin: 0 auto;
}

.form-modal__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.17;
}
@media screen and (min-width: 1200px) {
  .form-modal__checkbox {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox-text {
  margin-left: 2px;
  color: var(--accent-btn);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}
.checkbox:checked + .checkbox-icon {
  border-color: var(--accent-btn);
  background-color: var(--accent-btn);
  background-image: url("../images/icon check.svg");
  background-size: contain;
  background-origin: border-box;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--no-padding {
  padding-top: 0;
}
@media screen and (max-width: 1199px) {
  .section--no-padding {
    display: none;
  }
}

.section--background-team {
  background-color: var(--background-team);
  margin: 0 auto;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--title);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item-icon:not(:last-child) {
  margin-right: 10px;
}

.social__icon-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing);
}
.social__icon-link:hover, .social__icon-link:focus {
  background-color: var(--accent);
}

.icon-social {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--transition-timing);
  transition: fill 250ms var(--transition-timing);
}
.social__icon-link:focus .icon-social, .social__icon-link:hover .icon-social {
  fill: var(--secondary);
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary);
  background-color: var(--accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  -webkit-transition: background-color 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing);
}
.btn:hover, .btn:focus {
  background-color: var(--accent-btn);
}

.menu-close-btn,
.menu-open-btn {
  display: block;
  margin-left: auto;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-close-btn,
.menu-open-btn {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button .is-open .icon-cross {
  display: block;
}

.menu-button .is-open .icon-menu {
  display: none;
}

@media screen and (max-width: 1199px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: -15px;
  }
}

.clients-list__item {
  margin: 15px;
  height: 92px;
}
@media screen and (min-width: 768px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
  }
}
@media screen and (max-width: 767px) {
  .clients-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}

.clients-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  -webkit-transition: border 250ms var(--transition-timing);
  transition: border 250ms var(--transition-timing);
}
.clients-list__link:hover, .clients-list__link:focus {
  border-color: var(--accent);
}

.clients-list__icon {
  fill: var(--icon-color);
  -webkit-transition: fill 250ms var(--transition-timing);
  transition: fill 250ms var(--transition-timing);
}
.clients-list__link:hover .clients-list__icon, .clients-list__link:focus .clients-list__icon {
  fill: var(--accent);
}

.contact {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .contact {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.address {
  margin-top: 20px;
  font-style: normal;
}

.address__link-contact {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: var(--address-contact);
}

.address__link-contact--color {
  color: var(--secondary);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.logo__footer--accent {
  color: var(--secondary);
}

@media screen and (max-width: 767px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .contacts .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.contacts__link {
  color: var(--primere-text);
  text-decoration: none;
  -webkit-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent);
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.contacts__icon {
  fill: var(--primere-text);
  -webkit-transition: fill 250ms var(--transition-timing);
  transition: fill 250ms var(--transition-timing);
  margin-right: 10px;
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent);
}

.contacts-menu {
  margin-bottom: 64px;
}

.contacts-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-menu__link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.contacts-menu__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primere-text);
}

.text--accent {
  color: var(--accent);
}

.social-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-menu__item {
  display: block;
  position: relative;
}

.social-menu__item:not(:last-child) {
  margin-right: 20px;
}

.social-menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent);
}

.social-menu--spacer::after {
  position: absolute;
  content: "";
  height: 22px;
  bottom: 0;
  margin: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.controls {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .controls {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .controls {
    margin-bottom: 50px;
  }
}

.controls__item:not(:last-child) {
  margin-right: 8px;
}

.controls__button {
  font-family: Roboto;
  border: none;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title);
  cursor: pointer;
  -webkit-transition: color 250ms var(--transition-timing), background-color 250ms var(--transition-timing), -webkit-box-shadow 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing), background-color 250ms var(--transition-timing), -webkit-box-shadow 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing), background-color 250ms var(--transition-timing), box-shadow 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing), background-color 250ms var(--transition-timing), box-shadow 250ms var(--transition-timing), -webkit-box-shadow 250ms var(--transition-timing);
}
.controls__button:hover, .controls__button:focus {
  color: var(--secondary);
  background-color: var(--accent);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (min-width: 768px) {
  .footer-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (max-width: 1199px) {
  .footer-flex {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-flex {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio-footer {
  padding: 20px 24px;
}

.portfolio__item {
  border-bottom: 1px solid var(--border-secondary-color);
  border-right: 1px solid var(--border-secondary-color);
  border-left: 1px solid var(--border-secondary-color);
}
@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 64px) / 2);
        flex-basis: calc((100% - 64px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 3);
        flex-basis: calc((100% - 120px) / 3);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio__link {
  display: block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 250ms var(--transition-timing);
  transition: -webkit-box-shadow 250ms var(--transition-timing);
  transition: box-shadow 250ms var(--transition-timing);
  transition: box-shadow 250ms var(--transition-timing), -webkit-box-shadow 250ms var(--transition-timing);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-footer__title {
  margin-bottom: 4px;
  color: var(--title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-footer__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primere-text);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay__description {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--transition-timing);
  transition: -webkit-transform 250ms var(--transition-timing);
  transition: transform 250ms var(--transition-timing);
  transition: transform 250ms var(--transition-timing), -webkit-transform 250ms var(--transition-timing);
}
.portfolio__link:hover .portfolio-overlay__description, .portfolio__link:focus .portfolio-overlay__description {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary);
}

.hero {
  background: var(--background);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--background-hero)), to(var(--background-hero))), url("../images/hero_mob_1x_img.jpg");
  background-image: linear-gradient(to right, var(--background-hero), var(--background-hero)), url("../images/hero_mob_1x_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;
  text-align: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-hero)), to(var(--background-hero))), url("../images/hero_mob_2x_img.jpg");
    background-image: linear-gradient(to right, var(--background-hero), var(--background-hero)), url("../images/hero_mob_2x_img.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-hero)), to(var(--background-hero))), url("../images/hero_mob_1x_img.jpg");
    background-image: linear-gradient(to right, var(--background-hero), var(--background-hero)), url("../images/hero_mob_1x_img.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-hero)), to(var(--background-hero))), url("../images/hero_mob_2x_img.jpg");
    background-image: linear-gradient(to right, var(--background-hero), var(--background-hero)), url("../images/hero_mob_2x_img.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .hero {
    padding: 200px 0px;
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-hero)), to(var(--background-hero))), url("../images/hero_desk_1x_img.jpg");
    background-image: linear-gradient(to right, var(--background-hero), var(--background-hero)), url("../images/hero_desk_1x_img.jpg");
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(var(--background-hero)), to(var(--background-hero))), url("../images/hero_desk_2x_img.jpg");
    background-image: linear-gradient(to right, var(--background-hero), var(--background-hero)), url("../images/hero_desk_2x_img.jpg");
  }
}
.hero .hero__title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary);
}
@media screen and (min-width: 1200px) {
  .hero .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title);
  -webkit-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-menu {
  margin-bottom: 302px;
}

.navigation-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation-menu__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--title);
  -webkit-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
}

.navigation--active {
  color: var(--accent);
}

.navigation--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  background: var(--accent);
  border-radius: 2px;
}

@media screen and (min-width: 768px) {
  .pas-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (min-width: 768px) {
  .pas-list__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .pas-list__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .pas-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.pas-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title);
}
@media screen and (max-width: 767px) {
  .pas-list__title {
    text-align: center;
  }
}

.pas-list__text {
  font-size: 14px;
  line-height: 1.71;
}

.pas-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px;
  background-color: var(--background-team);
  margin-bottom: 30px;
}

.icon-svg {
  fill: var(--title);
  -webkit-transition: fill 250ms var(--transition-timing);
  transition: fill 250ms var(--transition-timing);
}

.btn-modal .icon-svg:focus,
.btn-modal .icon-svg:hover {
  fill: var(--accent-btn);
}

@media screen and (max-width: 767px) {
  .plea {
    margin-bottom: 60px;
  }
}

.plea__text,
.form__text {
  color: var(--secondary);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.plea-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .plea-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.plea-list__item:not(:last-child) {
  margin-right: 10px;
}

.plea-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #44454e;
  -webkit-transition: background-color 250ms var(--transition-timing);
  transition: background-color 250ms var(--transition-timing);
}
.plea-list__link:focus, .plea-list__link:hover {
  background-color: var(--accent);
}

.plea-list__icon-social {
  fill: var(--secondary);
}

.team {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team-user {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-user {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team-user {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team-user:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team-user__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title);
}

.team-user__footer {
  background-color: var(--secondary);
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-user__career {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  position: relative;
  margin-right: 30px;
}
.work__item:nth-child(3n) {
  margin-right: 0;
}

.work__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.work__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary);
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 88px;
  }
}

.page-header {
  border-bottom: 1px solid var(--border-color);
  position: relative;
}
@media screen and (min-width: 1200px) {
  .page-header {
    max-width: 1600px;
  }
}

.mob-container {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}
.mob-container .container-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .mob-container .container-menu {
    display: none;
  }
}
.mob-container.is-open {
  display: block;
}

.menu-wrapper {
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 15px;
  background-color: #ffffff;
}

.mob-container__menu {
  margin-bottom: 302px;
}

.social-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-container__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-container__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--title);
  -webkit-transition: color 250ms var(--transition-timing);
  transition: color 250ms var(--transition-timing);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
}
.mob-container__link:hover, .mob-container__link:focus {
  color: var(--accent);
}

.mob-container--active {
  color: var(--accent);
}

.icon-cross:hover,
.icon-cross:focus {
  fill: var(--accent);
}/*# sourceMappingURL=main.css.map */