.clients-list {
  display: flex;
}

.clients-list__item {
  width: calc((100% - 150px) / 6);
  margin-right: 30px;
  height: 92px;

  &:nth-child(6n) {
    margin-right: 0;
  }
}



.clients-list__link {
  @include centerFlex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  transition: border 250ms var(--transition-timing);

 &:hover,
 &:focus {
  border-color: var(--accent);
}
}

.clients-list__icon {
  fill: var(--icon-color);
  transition: fill 250ms var(--transition-timing);

.clients-list__link:hover &,
.clients-list__link:focus & {
  fill: var(--accent);
}
}



