 .contacts{
 
  @media  screen and (max-width:767px) {
    display: none;
 }

 @media  screen and (min-width:768px) {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  
 }

  @media  screen and (min-width:1200px) {
  display: flex;
  flex-direction: row;
 
  
}
@media  screen and (min-width:1200px) {
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
 }

 }

.contacts__text {
  margin-left: 10px;
}



.contacts__link {
  color: var(--primere-text);
  padding-bottom: 32px;
  padding-top: 32px;
  text-decoration: none;
  transition: color 250ms var(--transition-timing);

&:hover,
&:focus {
  color: var(--accent);
}

}


.contacts__icon {
  fill: var(--primere-text);
  transition: fill 250ms var(--transition-timing);

.contacts__link:hover &,
.contacts__link:focus & {
  fill: var(--accent);
}
}

.contacts-menu{
  margin-bottom: 64px;
}

.contacts-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.contacts-menu__link{
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  
 
}


.contacts-menu__text{
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--primere-text);
}

.text--accent{
  color:var(--accent);
}

.social-menu{
  display: flex;
}

.social-menu__item{
  display: block;
  position: relative;
}


.social-menu__item:not(:last-child) {
  margin-right: 20px;
}

.social-menu__link{
font-weight: 500;
font-size: 18px;
line-height: 1.22;

letter-spacing: 0.02em;

color:var(--accent);
}


.social-menu--spacer::after{
  position: absolute;
  content: "";
  height: 22px;
  bottom: 0;
  margin: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  
}