.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 100%;
  
  
}

 .footer-flex {
  
  
  @media  screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
  }


  @media  screen and (max-width:1199px) {
  text-align: center;
   
 
}

@media  screen and (min-width:1200px) {
  align-items: baseline;
 
}
 }
