.footer {
  background-color: var(--background);
  padding-top: 60px;
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 1600px;
}

 .footer-flex {
  @media  screen and (min-width:768px) {
  display: flex;
  flex-wrap: wrap;
 
}

@media  screen and (min-width:1200px) {
  align-items: baseline;
}
 }
