

.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.portfolio-footer {
  padding: 20px 24px;
}

.portfolio__item {
  width: 370px;
  margin: 15px;
  border-bottom: 1px solid var(--border-secondary-color);
  border-right: 1px solid var(--border-secondary-color);
  border-left: 1px solid var(--border-secondary-color);
}

.portfolio__link {
  display: block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  transition: box-shadow 250ms var(--transition-timing);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
          }
}

.portfolio-footer__title {
  margin-bottom: 4px;
  color: var(--title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-footer__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primere-text);
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}


.portfolio-overlay__description {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms var(--transition-timing);

.portfolio__link:hover &,
.portfolio__link:focus & {
  opacity: 1;
  transform: translateY(0);
}

}

.portfolio-overlay__text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary);
}
