.hero {
  background: var(--background);
  background-image: linear-gradient(
      to right,
      var(--background-hero),
      var(--background-hero)
    ),
    url("../images/hero_img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary);
}



