.navigation {
  display: flex;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title);
  transition: color 250ms var(--transition-timing);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}




.navigation__link--active {
  color: var(--accent);
}

.navigation__link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.navigation__link--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  background: var(--accent);
  border-radius: 2px;
}


.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent);
}