 .pas-list {

  @media  screen and (min-width:768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

 }

.pas-list__item {

  @media  screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media  screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
 
   }

   &:not(:last-child){
    @media  screen and (max-width:767px) {
      margin-bottom: 30px;
   }
  }
}

.pas-list__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title);

  @media  screen and (max-width:767px) {
    text-align: center;
 }
}
.pas-list__text {
  font-size: 14px;
  line-height: 1.71;
}

.pas-list__icon {
 @include centerFlex;
  height: 120px;
  background-color: var(--background-team);
  margin-bottom: 30px;
}

.icon-svg {
  fill: var(--title);
  transition: fill 250ms var(--transition-timing);
}

.btn-modal .icon-svg:focus,
.btn-modal .icon-svg:hover {
  fill: var(--accent-btn);
}