.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary);
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms var(--transition-timing);

&:hover,
&:focus {
  background-color: var(--accent-btn);
}

}

.menu-btn{
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border:none;
  background-color: transparent;
}

.menu-button .icon-cross{
  display: none;
}

.menu-button .is-open .icon-cross{
  display: block;
}

.menu-button .is-open .icon-menu{
  display: block;
}