
.logo {
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;

  font-family: Raleway;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
}

.logo__header--accent {
  color: var(--title);
}