
.social {
  display: flex;
  justify-content: center;

  
}

.social__item-icon:not(:last-child) {
  margin-right: 10px;
}

.social__icon-link {
  @include centerFlex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms var(--transition-timing);



  &:hover,
  &:focus {
    background-color: var(--accent);
  }

}


.icon-social {
  fill: var(--icon-color);
  transition: fill 250ms var(--transition-timing);

.social__icon-link:focus &,
.social__icon-link:hover & {
  fill: var(--secondary);
}
}


