$colorTextBody: #757575;
$bgColorBody: #ffffff;


:root {
  --primere-text: #757575;
  --title: #212121;
  --secondary: #ffffff;
  --background: #2f303a;
  --background-team: #f5f4fa;
  --accent: #2196f3;
  --accent-btn: #188ce8;
  --address-contact: rgba(255, 255, 255, 0.6);
  --border-color: #ececec;
  --border-secondary-color: #eeeeee;
  --background-hero: rgba(47, 48, 58, 0.4);
  --icon-color: #afb1b8;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}